<html>
<head>
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
<h2>Hello World!</h2>
<h4>Enter name and click on log to get message:</h4>
<input type="text" id="name" style="color:#888;" value="your name" onfocus="inputFocus(this)" onblur="inputBlur(this)">&nbsp;<button type="button" id="send">log</button>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://rawgit.com/deep-compute/jslogger/master/src/jslogger-bundle.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/test.js') }}"></script>
</body>
</html>
